*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

:root{
  --dark-primary-color : rgb(37, 37, 37);
  --dark-secondary-color : rgb(50, 50, 50);
  --dark-text-color : rgb(255, 255, 255);
  --dark-button-color : #4A90E2;
  --clear-btn-bg : #c55555;
}

body{
  background-color: var(--dark-primary-color);
  color: var(--dark-text-color);
}

header{
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 30px;
  background-color: var(--dark-secondary-color);
  font-family: 'Courier New', Courier, monospace;
}

header h1{
  font-size: calc(15px + 2vw);
  font-weight: normal;
}

.navLinks{
  display: flex;
  margin-left: auto;
  gap: 15px;
  /* text-decoration: underline; */
}

.navLinks div:hover{
  text-decoration: overline;
  cursor: pointer;
}

.prev-links-list-cont::-webkit-scrollbar{
  display: none;
}

.prev-links-list-cont{
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  top:0;
  width: 0px;
  bottom: 0;
  right: 0;
  background-color: var(--dark-secondary-color);
  transition: all 250ms;
}


.link-pswd{
  display: flex;
  padding: 0;
}


.shortened-link-cont{
  display: grid;
  grid-template-columns: 80% 20%;
}

.shortened-link::-webkit-scrollbar{
  display: none;
}

.shortened-link{
  overflow: scroll;
  /* box-shadow: -10px 0px 10px #00000055 inset; */
  /* box-shadow: 10px inset #000; */
}


.link-pswd input{
  width: 100%;
  border-radius: 5px 0 0 5px;
  background-color: var(--dark-secondary-color);
  font-size:medium;
}

.copyBtn-list{
  /* padding: 10px 20px; */
  /* height: 100%; */
  border-radius: 0 5px 5px 0;
  border: none;
  background-color: var(--dark-button-color);
  color: var(--dark-text-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-shadow: -10px 0px 10px 1px #2c2c2cb6;
}


.prev-list-header{
  position: sticky;
  display: flex;
  align-items: center;
  top:0px;
  z-index: 100;
  padding: 0 10px;
  background-color: var(--dark-secondary-color);
}


.close-btn{
  /* position: absolute; */
  margin-left: auto;
  font-size: calc(10px + 2vw);
  cursor: pointer;
  padding: 5px 10px;
  
}

.close-btn:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.prev-link{
  background-color: var(--dark-primary-color);
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  display: grid;
  gap:5px;
}

.prev-link .i-blk{
  background-color: var(--dark-secondary-color);
  border-radius: 5px;
  margin-bottom: 10px;
  
  width: 100%;
}
.prev-link .i-blk >*{
  padding: 5px 7px;
  /* width: 100px; */
}


.prev-link .i-blk .actual-link-cont{
  overflow: scroll;
  
  width: 100%;
}

.actual-link{
  word-break: break-all;
  word-wrap: break-word;

}


.clear-history-btn-cont{
  display: grid;
  place-items: center;
}

.clear-history-btn{
  padding: 10px 15px; 
  background-color: var(--clear-btn-bg);
  border-radius: 10px;
  cursor: pointer;
}


.urlShortener{
  display: grid;
  place-items: center;
  height: calc(100vh - 90px);
}

.urlShortener-i-cont{
  background-color: var(--dark-secondary-color);
  padding: 30px;
  border-radius: 20px;
  display: grid;
  gap:20px;
  transition: all 250ms;
}

.urlShortener-i-cont h2{
  font-weight: normal;
  min-width: 40vw;
}

.urlShortener-i-cont form{
  width: 100%;
  display: flex;
}

.urlShortener-i-cont form input{
  width: 100%;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: none;
  background-color: var(--dark-primary-color);
  color: var(--dark-text-color);
  font-size: calc(10px + 0.6vw);
}

.customURL-cont{
  display: grid;
  gap:10px
}

.customURL-i-cont{
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: calc(10px + 0.6vw);
}

.customURL-i-cont input{
  background-color: transparent;
  border-bottom: 1px solid var(--dark-text-color);
  border-radius: 0;
  padding: 2px 5px;
  font-size: calc(10px + 0.6vw);

}

.customURL-i-cont input:focus{
  outline: none;
  border-bottom: 1px solid var(--dark-button-color);
}

input{
  /* width: 100%; */
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: none;
  background-color: var(--dark-primary-color);
  color: var(--dark-text-color);
  font-size: calc(7px + 0.6vw);
}

.urlShortener-i-cont form input:hover{
  /* border-top: 1px solid var(--dark-button-color);
  border-bottom: 1px solid var(--dark-button-color);
  border-left: 1px solid var(--dark-button-color); */
  outline: 1px solid var(--dark-button-color);
  outline-offset: -1px;
}

.urlShortener-i-cont form input:focus{
  /* border-top: 1px solid var(--dark-button-color);
  border-bottom: 1px solid var(--dark-button-color);
  border-left: 1px solid var(--dark-button-color); */
  outline: 1px solid var(--dark-button-color);
  outline-offset: -1px;

}

.urlShortenerForm button{
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: var(--dark-button-color);
  color: var(--dark-text-color);
  cursor: pointer;
}

.urlShortenerForm button:hover{
  background-color: #3a7bd5;
}


.urlShortenerResult{
  display: grid;
  gap:10px;
}

.urlShortenerResult-i-cont{
  width: 100%;
  display: flex;
}

.urlShortenerResult-i-cont p{
  width: 100%;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background-color: var(--dark-primary-color);
  color: var(--dark-text-color);
  font-size: calc(10px + 0.6vw);

}

.urlShortenerResult-i-cont button{
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: var(--dark-button-color);
  color: var(--dark-text-color);
  cursor: pointer;
}

.extra-features-i-cont{
  display: flex;
  gap:10px;
  /* grid-template-columns: repeat(2, 1fr);	
  place-items: center; */
}

.extra-feature-block{
  /* background-color: var(--dark-button-color); */
  padding: 10px 20px;
  border-radius: 20px;
  display: grid;
  gap:20px;
  cursor: pointer;
  border: 1px solid var(--dark-button-color);
  transition: all 250ms;
}

/* .extra-feature-block:hover{
  background-color: #3a7bd5;
} */



@media screen and (max-width: 600px) {

  .urlShortener-i-cont h2{
    font-size: calc(13px + 2vw);
  }

  .extra-features-i-cont{
    font-size: calc(10px + 0.6vw);
  }

  .customURL-i-cont input{
    max-width: 90px;
    overflow-x: scroll;
  }

  .urlShortener-i-cont{
    padding: 20px 15px;
    border-radius: 10px;
  }

  .urlShortenerForm button{
    padding: 10px 13px;
  }

  .prev-links-list-cont{
    width: 0vw;
  }

  .close-btn{
    font-size: calc(20px + 2vw);
  }

}
 